$title-font: 700 32px/45px Roboto,sans-serif;
$text-font: 400 16px/28px Roboto,sans-serif;
$button-font: 700 16px/40px Roboto,sans-serif;
$link-font: 500 16px/28px Roboto,sans-serif;
$article-font: 700 20px/30px Roboto,sans-serif;

$primary-color: #263640;
$text-color: #929A9F;
$link-color:#FF9900;

$background-light:#F5F8FA;

$screen-xsm-min:320px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;


